/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #E2CEC5; /* Background color */
    margin: 0;
    padding: 0;
}

header {
    background-color: #922a28; /* Header background color */
    color: #E2CEC5; /* Header text color */
    padding: 15px 0;
}

header a {
    color: #E2CEC5; /* Link color in header */
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

footer {
    background-color: #282042; /* Footer background color */
    color: #E2CEC5; /* Footer text color */
    padding: 15px 0;
}

footer a {
    color: #E2CEC5; /* Link color in footer */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Container and Layout */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

/* Buttons */
.btn-primary {
    background-color: #922A28; /* Primary button background color */
    border-color: #922A28; /* Primary button border color */
}

.btn-primary:hover {
    background-color: #8A799F; /* Hover color for primary button */
    border-color: #8A799F; /* Hover border color for primary button */
}

.btn-secondary {
    background-color: #8A799F; /* Secondary button background color */
    border-color: #8A799F; /* Secondary button border color */
}

.btn-secondary:hover {
    background-color: #922A28; /* Hover color for secondary button */
    border-color: #922A28; /* Hover border color for secondary button */
}

/* Dropdown */
.dropdown-menu {
    background-color: #282042; /* Dropdown menu background color */
}

.dropdown-item {
    color: #E2CEC5; /* Dropdown item text color */
}

.dropdown-item:hover {
    background-color: white; /* Hover background color for dropdown items */
}

/* Profile Icon */
.profile-icon {
    width: 40px;
    height: 40px;
}

/* Forms */
form {
    background-color: #E2CEC5; /* Form background color */
    padding: 20px;
    border-radius: 8px;
}

form label {
    color: #282042; /* Label text color */
}

form input, form textarea {
    border: 1px solid #282042; /* Input and textarea border color */
    border-radius: 4px;
}

form button {
    background-color: #922A28; /* Submit button background color */
    border: none;
    color: #E2CEC5; /* Submit button text color */
    border-radius: 4px;
}
